In [4]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
import re

In [5]:
data = pd.read_csv('/content/data.csv')

In [6]:
data.head()

                            Text
0        مرحبا أنا أحب الحياة :)
1                    أنا حزين :(
2  البقاء لله عزم الله أجركم :'(
3                    كنت امزح :D
4        لا اعلم لماذا تضحكين D:

In [7]:
q = data.Text.to_list()
f = [ re.findall(r":\)|\(:|\(':|\(\":|:\(|\):|\)\":|\)':|:\*|:x|;\)|=\(|=\)|:D|D:|:\"\(|:'\(|\^_\^|:P|p:|P:|:-\(|:-\)",q[i]) for i in range(len(q)) ]
flat_list = [item for sublist in f if len(sublist) is not 0 for item in sublist]
flat_list = list(set(flat_list))
flat_list

['=(', '(:', ':)', '):', 'D:', '=)', ';)', ':(', ':D', ':"(', ":'("]

In [8]:
flat_list = [':"\(', '\):', ":'\(", '=\(', '=\)', '\(:', ';\)', ':D', 'D:', ':\(', ':\)']

In [9]:
lst1 = []
for emi in flat_list:
  list_text_contains_emi = data.Text.str.contains(emi)
  list_text_contains_emi = [str(j) for j in list_text_contains_emi]
  for i in range(len(list_text_contains_emi)):
    if list_text_contains_emi[i] == 'True': lst1.append(i)

In [16]:
emi_text = [data.Text.tolist()[i] for i in lst1]

In [17]:
emi_text

['سوف ابكي :"(',
 'انا اكره الكذب ):',
 "البقاء لله عزم الله أجركم :'(",
 'لا تذهبي =(',
 'سوف نذهب للتسوق =)',
 'الحياة جميلة (:',
 'حسنا هيا بنا ;)',
 'كنت امزح :D',
 'لا اعلم لماذا تضحكين D:',
 'أنا حزين :(',
 'مرحبا أنا أحب الحياة :)']

In [18]:
df_edited = pd.DataFrame(columns = ['text'])

In [19]:
for i in range(len(lst1)):
  df_edited = df_edited.append( {'text': emi_text[i]}, ignore_index=True)

In [20]:
df_edited

                             text
0                    سوف ابكي :"(
1               انا اكره الكذب ):
2   البقاء لله عزم الله أجركم :'(
3                     لا تذهبي =(
4              سوف نذهب للتسوق =)
5                 الحياة جميلة (:
6                 حسنا هيا بنا ;)
7                     كنت امزح :D
8         لا اعلم لماذا تضحكين D:
9                     أنا حزين :(
10        مرحبا أنا أحب الحياة :)

In [21]:
map = {
  '(:' : '🙂',
  ':)' : '🙂',
  ':-)': '🙂',
  '=)' : '🙂',
  '):' : '☹️',
  ':(' : '☹️',
  ':-(': '☹️',
  '=(' : '☹️',
  ':"(': '😢',
  ":'(": '😢',
  ':D' : '😄',
  'D:' : '😄',
  '^_^': '😄',
  ':P' : '😛',
  ';)' : '😉'
}

In [24]:
def replace_with(Found_Emoji):
  Found_Emoji = Found_Emoji.group(0)
  emoji = " "+map[Found_Emoji]+" "
  return emoji

In [25]:
def replace(sentence):
  result = re.sub(r"\(:|:\)|:-\)|=\)|\):|:\(|:-\(|=\(|:\"\(|:'\(|:D|D:|\^_\^|:P|;\)",replace_with, sentence)
  return result

In [29]:
df_edited.text = df_edited.text.apply(replace)

In [33]:
df_edited

                             text
0                    سوف ابكي  😢
1             انا اكره الكذب  ☹️
2   البقاء لله عزم الله أجركم  😢
3                   لا تذهبي  ☹️
4             سوف نذهب للتسوق  🙂
5                الحياة جميلة  🙂
6                حسنا هيا بنا  😉
7                    كنت امزح  😄
8        لا اعلم لماذا تضحكين  😄
9                   أنا حزين  ☹️
10       مرحبا أنا أحب الحياة  🙂